{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Register</h1>
        <p class="lead blog-description">make your account.</p>
    </div>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div><!-- /.container -->
{% endblock fos_user_content %}
