<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="search" type="application/opensearchdescription+xml" href="/opensearch/description.xml" title="Quora" />
	<meta name="robots" content="noarchive"/>

	<link rel="dns-prefetch" href="//qsc.is.quoracdn.net">

	<link rel="dns-prefetch" href="//qph.is.quoracdn.net">

	<link rel="dns-prefetch" href="//qsf.is.quoracdn.net">

	<link rel="dns-prefetch" href="//connect.facebook.net">

	<link rel="dns-prefetch" href="//apis.google.com">

	<link rel="dns-prefetch" href="//static.ak.facebook.com">

	<link rel="dns-prefetch" href="//cdn.mathjax.org">

	<link rel="dns-prefetch" href="//maps.googleapis.com">

	<link rel="dns-prefetch" href="//maps.gstatic.com">

    <link href="{{ asset('bundles/framework/css/login.css') }}" rel="stylesheet" />

</head>

<body class='logged_out_page_big_signup'>
<script>

	require.install("gating", {
		negative_content_actions: false,
		feed_impression_feedback: false,
		long_press: false,
		mobile_a2a_ask_drawer: null,
		enable_reading_time_logging: true,
		queue_efficiency: false,
		feed_edit_question: false,
		topic_visualization_editing: false,
		batched_server_calls: true,
		qtext2: false,
		qtext2_mobile: false
	});

	require.install("settings", {
		pageIsMobile: false,
		isLoggedIn: false,
		revision: "109ec9364f191c1e7f7b0e29772b52ee955ce3eb",
		instance: "main",
		formkey: "58a3c1e1755871d06f9df983e9e7df06",
		postkey: "b823c5b23a0f71dc6cfd9941eb385d9c",
		uid: null,
		controller: "index",
		action: "index",
		cookiePrefix: "m",
		trail: null,
		actionTrail: null,
		serverCallUrl: "/webnode2/server_call_POST?__instart__",
		batchedServerCallUrl: "/webnode2/batched_server_call_POST?__instart__",
		speedStandard: {"owner": 12, "e2e": null, "server_side": 1500, "server_side_goal": 950},
		scribeSampleRate: 1.000000,
		pageMode: "live" || "live",
		debug: false,
		appURL: null,
		fbAppId: "136609459636",
		googleClientId: "917071888555.apps.googleusercontent.com",
		googleCookiePolicy: "http://quora.com",
		androidAppPackageName: "com.quora.android",
		mobileRedirect: false,
		enableFrameBusting: true,
		keyboardShortcuts: false,
		isParallel: true,
		client_side_logging: false,
		client_side_server_call_error_logging_percentage: 0.0,
		subdomain_name: null,
		subdomain_suffix: "quora.com",
		default_uri_subdomain_name: null,
		force_use_absolute_links: false,
		e2e_sample_rate: 0.100000,
		save_feed_story_debug: false,
		interface_strings: {"ok": "OK", "in_progress_warning": "Warning: Your work in progress has not been saved. Leaving or reloading this page will discard any unsaved changes.", "please_refresh": "Please refresh this page to receive new updates.", "update": "Update", "trying_to_regain": "Trying to regain internet connection...", "done": "Done", "cancel": "Cancel"},
		instart_cchannel_setting: false,
		lazyLoadImages: false,
		interfaceLanguage: "en"
	});

</script>


<div class="InteractionModeBanner" id="__w2_tiKEYXv_banner">

	<div id="__w2_tiKEYXv_message">This page may be out of date.

<span class="hidden" id="__w2_tiKEYXv_draftable"><a href="#" id="__w2_tiKEYXv_resume">Save your draft</a> before refreshing this page.
</span>

<span id="__w2_tiKEYXv_not_draftable">Submit any pending changes before refreshing this page.
</span>
	</div>
</div>

<div class="ErrorBanner" id="__w2_XntxX7L_banner">

	<div id="__w2_XntxX7L_message">

<span id="__w2_XntxX7L_text">
</span> <a href="#" id="__w2_XntxX7L_hide">Hide this message</a>.
	</div>
</div>

<div class="modal_overlay hidden" id="__w2_modal_overlay_">

	<div class="modal_wrapper normal">

		<div id="__w2_modal_frame_placeholder_">
		</div>
	</div>
</div>

<div id="ld_nnszen_44">
</div>

<div id="ld_nnszen_46">

	<div class="PMsgContainer" id="__w2_ABXUZwQ_pmsg_container">
	</div>

	<div class="main_full_width content contents main_content ContentWrapper">

		<div id="__w2_ZsT6FRH_content">

			<div id="ld_zphrjb_16250">

				<div class="bg_container">

					<div class="bg_image">
					</div>
				</div>

				<div class="HomeLoggedOutBigSignup continue_with_text">

					<div class="logo">
					</div>

					<div class="tagline"><h2>The best answer to any question</h2>
					</div>

					<div class="container">

						<div class="signup">

							<div class="SignupForm2 SignupFormBigButtonsOneClick BaseSignupForm">

								<div class="col connected_photo_wrapper  hidden" id="__w2_jHYv9v5_connected_photo_wrapper">&nbsp;

									<div class="hidden br3 tease_box connected_photo" id="__w2_jHYv9v5_connected_info"><img src="https://qsf.is.quoracdn.net/-24b280cb3f0a234e.gif" style="float:left;width:50px;" id="__w2_jHYv9v5_connected_pic" />
										<label class="hidden" style="width:50px" id="__w2_jHYv9v5_fb_info"><img src="https://qsf.is.quoracdn.net/-3f97e9658610fd24.gif" style="padding-right: 5px;" /><strong id="__w2_jHYv9v5_fb_name"></strong>
										</label>
										<label class="hidden" style="width:50px" id="__w2_jHYv9v5_twitter_info"><img width="16" style="padding-right: 5px;" src="https://qsf.is.quoracdn.net/-717943ea2ab806b1.png" height="16" /><strong id="__w2_jHYv9v5_tw_name"></strong>
										</label>
										<label class="hidden" style="width:50px" id="__w2_jHYv9v5_goog_info"><img width="16" style="padding-right: 5px;" src="https://qsf.is.quoracdn.net/-0221ae28fc359ca7.png" height="16" /><strong id="__w2_jHYv9v5_goog_name"></strong>
										</label>
									</div>
								</div>

								<div class="e_col w3_5 signup_form">

									<form class="" action="/signup/signup_POST/" method="POST" target="_self" id="__w2_jHYv9v5_form">
										<input type="hidden" name="formkey" value="58a3c1e1755871d06f9df983e9e7df06" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" name="code" w2cid="jHYv9v5" id="__w2_jHYv9v5_code" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" name="group" w2cid="jHYv9v5" id="__w2_jHYv9v5_group" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" name="source_user_name" w2cid="jHYv9v5" id="__w2_jHYv9v5_source_user_name" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" name="source_url" w2cid="jHYv9v5" id="__w2_jHYv9v5_source_url" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" name="signup_form" value="SignupFormBigButtonsOneClick" w2cid="jHYv9v5" id="__w2_jHYv9v5_signup_form" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" name="source" value="home" w2cid="jHYv9v5" id="__w2_jHYv9v5_source" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" w2cid="jHYv9v5" id="__w2_jHYv9v5_fb_uid" />
										<input group="__w2_jHYv9v5_interaction" type="hidden" w2cid="jHYv9v5" id="__w2_jHYv9v5_tw_uid" />

										<div class="row " id="__w2_jHYv9v5_step_1">

											<div class="row step_1_header">
											</div>

											<div class="row">

												<div class="e_col connect_buttons instruction_text three_connect_buttons" id="__w2_jHYv9v5_connect_buttons">

													<div class="row connect_buttons_row"><a class="google_button submit_button" href="#" action_mousedown="SignupGoogleClick" tabindex="5" id="__w2_muQ16XE_google_connect_button">

<span class="google_button_text">Continue With Google
</span></a>

														<div class="hidden connected_link_text google_connected_link_text br3" id="__w2_jHYv9v5_google_connected">Connected to Google
														</div>
														<input group="__w2_jHYv9v5_interaction" type="hidden" name="goog_access_token" w2cid="jHYv9v5" id="__w2_jHYv9v5_goog_access_token" /><a class="facebook_button submit_button" href="#" action_mousedown="SignupFacebookClick" tabindex="6" id="__w2_WDt9SL9_facebook_connect_button">

<span class="facebook_button_text">Continue With Facebook
</span></a>

<span class="hidden connected_link_text facebook_connected_link_text br3" id="__w2_jHYv9v5_facebook_connected">Connected to Facebook
</span>
														<input group="__w2_jHYv9v5_interaction" type="hidden" name="fb_access_token" w2cid="jHYv9v5" id="__w2_jHYv9v5_fb_access_token" />
														<input group="__w2_jHYv9v5_interaction" type="hidden" name="fb_expires" w2cid="jHYv9v5" id="__w2_jHYv9v5_fb_expires" /><a class="twitter_button submit_button" href="#" action_mousedown="SignupTwitterClick" tabindex="6" id="__w2_MIQJs1o_twitter_connect_button">Continue With Twitter</a>

														<div class="hidden connected_link_text twitter_connected_link_text br3" id="__w2_jHYv9v5_twitter_connected">Connected to Twitter
														</div>
														<input group="__w2_jHYv9v5_interaction" type="hidden" name="twitter_oauth_key" w2cid="jHYv9v5" id="__w2_jHYv9v5_tw_oauth_key" />
													</div>

													<div id="__w2_jHYv9v5_connect_explanation"><a class="signup_email_link" href="#" tabindex="8" id="__w2_jHYv9v5_bypass_connect_link">Continue With Email</a>.

<span class="tos_disclaimer">By signing up you indicate that you have read and agree to the <a href="/about/tos" target="_blank">Terms of Service</a>.
</span>
													</div>
												</div>

												<div class="row hidden connected_friends_list" id="__w2_jHYv9v5_connected_friends_list">&nbsp;
												</div>
											</div>
										</div>

										<div class="hidden step_2 row" id="__w2_jHYv9v5_step_2"><h2>

<span id="__w2_jHYv9v5_step_2_header_prefix">
</span>Sign Up</h2>

											<div class="stacked_form e_col p1">

												<div class="form_row">
													<label>Full Name
													</label>
													<input class="text" group="__w2_jHYv9v5_interaction" name="name" type="text" autocorrect="off" value="" autocapitalize="words" tabindex="9" w2cid="jHYv9v5" id="__w2_jHYv9v5_name" />

													<div class="hidden __w2_q3qS0Zh_invalid input_validation_error_text" id="__w2_q3qS0Zh_invalid_message">
													</div>

<span class="hidden input_valid __w2_q3qS0Zh_valid input_status">
</span>

<span class="hidden input_invalid __w2_q3qS0Zh_invalid input_status">
</span>

													<div class="hidden ">Checking...
													</div>
												</div>

												<div class="form_row">
													<label>Email
													</label>
													<input class="text" group="__w2_jHYv9v5_interaction" type="text" name="email" value="" tabindex="10" w2cid="jHYv9v5" id="__w2_jHYv9v5_email" />

													<div class="hidden __w2_QoEPLdx_invalid input_validation_error_text" id="__w2_QoEPLdx_invalid_message">
													</div>

<span class="hidden input_valid __w2_QoEPLdx_valid input_status">
</span>

<span class="hidden input_invalid __w2_QoEPLdx_invalid input_status">
</span>

													<div class="hidden ">Checking...
													</div>
												</div>

												<div class="form_row">
													<label>Password
													</label>
													<input class="text" group="__w2_jHYv9v5_interaction" type="password" name="password" tabindex="11" w2cid="jHYv9v5" id="__w2_jHYv9v5_password" />

													<div class="hidden __w2_QSxcB0r_invalid input_validation_error_text" id="__w2_QSxcB0r_invalid_message">
													</div>

<span class="hidden input_valid __w2_QSxcB0r_valid input_status">
</span>

<span class="hidden input_invalid __w2_QSxcB0r_invalid input_status">
</span>

													<div class="hidden ">Checking...
													</div>
												</div>
											</div>

											<div class="row small">

<span class="light_gray tos_disclaimer">By clicking &quot;Sign Up&quot; you indicate that you have read and agree to the <a href="/about/tos" target="_blank">Terms of Service</a>.
</span>
											</div>

											<div class="row">

												<div class="form_buttons" id="__w2_jHYv9v5_create_account">

<span class="light"><a class="cancel" href="#" id="__w2_jHYv9v5_cancel">Cancel</a>
</span>
													<input class="submit_button" group="__w2_jHYv9v5_interaction" type="submit" value="Sign Up" tabindex="12" w2cid="jHYv9v5" id="__w2_jHYv9v5_submit" />
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="login">

							<div id="ld_zphrjb_16251">

								<div id="__w2_UuwvqQ0_logged_out_header_login">

									<div class="associated_login" id="__w2_UuwvqQ0_associated">
									</div>

									<div class="regular_login">
                                        <form action="{{ path("fos_user_security_check") }}" method="POST" class="inline_login_form">
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
											<div class="title">Login</div>

											<div class="form_inputs">

												<div class="hidden small_login_preview e_col" id="__w2_UuwvqQ0_preview"><img width="25" height="25" id="__w2_UuwvqQ0_pic" />
												</div>

												<div class="form_column">
													<input class="text header_login_text_box ignore_interaction" group="__w2_UuwvqQ0_interaction" type="text" placeholder="Email" name="email" tabindex="1" w2cid="UuwvqQ0" id="__w2_UuwvqQ0_email" />

													<div class="remember_me" group="__w2_UuwvqQ0_login_options" id="__w2__u_lcpjBFNfrm">
														<input class="passwordless_checkbox ignore_interaction" group="__w2_UuwvqQ0_interaction" checked="checked" name="allow_passwordless" type="checkbox" value="allow_passwordless" tabindex="3" w2cid="UuwvqQ0" id="__w2_UuwvqQ0_allow_passwordless" />Remember Me
													</div>
												</div>

												<div class="form_column">
													<input class="text header_login_text_box ignore_interaction" group="__w2_UuwvqQ0_interaction" type="password" placeholder="Password" name="password" tabindex="2" w2cid="UuwvqQ0" id="__w2_UuwvqQ0_password" />

													<div group="__w2_UuwvqQ0_login_options" id="__w2__u_mouJZ5SkEk"><a class="forgot_password" href="#" id="__w2_UuwvqQ0_forgot_password_link">Forgot Password?</a>
													</div>
												</div>
												<input class="submit_button ignore_interaction" group="__w2_UuwvqQ0_interaction" type="submit" value="Login" tabindex="4" w2cid="UuwvqQ0" id="__w2_UuwvqQ0_submit_button" />

												<div id="__w2_UuwvqQ0_errors">

													<div class="hidden input_validation_error_text" id="__w2_UuwvqQ0_email_not_confirmed_error">Please confirm your email address. <a href="#" id="__w2_UuwvqQ0_resend_confirmation">Resend Confirmation Link</a>
													</div>

													<div class="hidden input_validation_error_text" id="__w2_UuwvqQ0_email_not_found_error">No account found for this email. Retry, or <a href="/" id="__w2_UuwvqQ0_email_not_found_signup_link">Sign up for Quora.</a>
													</div>

													<div class="hidden input_validation_error_text" id="__w2_UuwvqQ0_incorrect_password_error">Incorrect password. <a href="#" id="__w2_UuwvqQ0_reset_password_link">Reset Password</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="footer_nav row">

						<div class="e_col footer_links w8">
							<ul class="nav_list">
								<li class="about"><a href="/about">About</a></li>
								<li class="careers"><a href="/careers">Careers</a></li>
								<li class="privacy"><a href="/about/privacy">Privacy</a></li>
								<li class="sitemap"><a href="/sitemap">Sitemap</a></li>
								<li class="tos"><a href="/about/tos">Terms</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="ld_nnszen_43">
</div>

<div class="__live_spinner hidden" id="__w2_xERYczE_loading">

	<div class="__live_spinner_indicator" id="__w2_xERYczE_spinner">
	</div>
</div>

<div id="ld_nnszen_45">
</div>

<div class="tiny_swf">

	<div id="__w2_EkHWi4y_flash">
	</div>
</div><img src="/_/2272b9172d30c78c31fa80a6e3a3c132.gif?hash=5b9af4b5-e444-41d1-a53e-87fa890e16f0" style="display: none" />
</body>
</html>

